<div class = "btn-group" role="group" aria-label="imagery and feature download">
      <button type='button'  id="downloadTiles" class="btn btn-primary disabled">
        <span class= "glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
      </button>
      
      <button type='button' id="downloadFeatures" class='btn btn-default disabled'>
          <span id="img" class= "glyphicon glyphicon-download-alt" aria-hidden="true"></span>
      </button>

      <button type='button' id="clearButton" class="btn btn-default disabled">
           <span class= "glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
      </button>
</div>
