<div>
    <!-- Map Page -->
        <div id = "buttons">
            <div id = "esriButtons">
                <div id="homeButton"></div>
                <div id="esriLocate"></div>
            </div>
            <div id="offlineButtons"></div>
      </div>
          
      <div class="container-fluid">   
          <div id="mapDiv">
              <span id="loadingImg"></span>
          </div>
      </div>
   

      <div id='scalebarHousing'>
          <div id='measureHousing'>
              <div id="measurePane">
                <div id="esriMeasure"></div>
              </div>
            </div>
      </div>
      <div id="leftPanel"></div>
      <div id="rightHandle"></div>
      <div id="rightPanel"></div>
      <div id="infoPanel" class="touch-moveable">
        <div id="panels" >
            <div id="layerListHousing">
                <div id='layerList'></div>
            </div>
            <div id="legendHousing">
                <span>Legend</span>
                <div id="legendDiv"></div>
            </div>
        </div>
      </div>
  </div>
